build/
cmake-build-*/
.DS_Store
*.o
*.a
*.dSYM
.vscode/
.idea/
xcuserdata/
*.xcuserstate
DerivedData/
ReaderApp.app/
*.dmg

ReaderCore/third_party/_downloads/
ReaderCore/third_party/_extracted/
ReaderCore/third_party/_build/
ReaderCore/third_party/_install/

dist/*.dmg
ReaderApp/Resources/AppIcon.iconset/
